click==8.0.3
ghp-import==2.0.2
importlib-metadata==4.10.1
Jinja2==3.0.3
Markdown==3.3.6
markdown-katex==202112.1034
MarkupSafe==2.0.1
mergedeep==1.3.4
mkdocs==1.2.3
packaging==21.3
pathlib2==2.3.6
Pygments==2.11.2
pyparsing==3.0.6
python-dateutil==2.8.2
PyYAML==6.0
pyyaml_env_tag==0.1
six==1.16.0
watchdog==2.1.6
zipp==3.7.0
