/* Style Sheet */

/* Colors:
	red da756f
	green 48a59d
	white fdfefd
	blue 1269c8
*/

.wy-side-nav-search {background-color:#1168c7} 
.wy-nav-side.stickynav {background-color:#47a49c}   
/* .wy-menu {background-color: #fdfefd} */
/* .wy-menu wy-menu-vertical {background-color: #fdfefd} */
/* .wy-nav-content { max-width: 100%; } */

h1 {
    font-size: 2em;
    color: #039;
    text-transform: uppercase;
	line-height:1.5; 
}

h2 {
    color: #333333;
}

.pagetitle {
    font-size: 2em;
    color: #039;
    text-transform: uppercase;
	line-height:1.5; 
}
.intro-text {
    font-style: bold;
	color: maroon;
    font-size: 1.2em;
}

code { color: maroon; white-space: nowrap; }


